body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: stretch;
    align-items: stretch;
}

.ingredients_table tr:nth-child(odd) {
    background-color: rgb(108, 184, 209);
}

html {
    background-color: rgba(128, 0, 32, 0.2);
}

main {
    padding: 16px;
    margin-bottom: auto;
}

footer {
    background-color: #042940;
    color: white;
    padding: 20px;
    bottom: 0;
}

img {
    height: 200px;
    width: 200px;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color:  rgb(80, 173, 163);
}

a:hover {
    color: white;
}
th, td {
    padding: 5px;
}

th {
    text-align: left;
}

h1 {
    color: #005C53;
}

header {
    padding: 10px;
    background-color:#445554
}

hr {
    margin: 0;
    color: black;
}

.rating, p {
    color: rgb(80, 173, 163);
}